@import "bourbon"


/* Desktop-frist */
@media only screen and (max-width : 991px)

	body
		font-size: 15px

	.container
		max-width: 600px

	.w-page
		background-color: #fff
		&--single,
		&--other
			.w-body
				background-image: none
			.b-main
				padding: 100px 0 50px

		.b-header
			padding-top: 25px
			&__logo
				width: 120px

	.b-hero
		&__inner
			min-height: 300px
		&__slogan
			width: 100%
			max-width: 400px
			font-size: 26px
			line-height: 1.2
		&__circle
			&--2
				top: -250px

	.b-main
		&__title
			font-size: 26px
		&__dots
			display: none
		&__circle
			&--1
				display: none
			&--3
				top: -20px
				right: -310px

	.b-portfolio
		&__list
			margin: 0 -20px
		&__item
			flex: 0 1 calc(50% - 30px)
			margin: 10px
			height: 200px

	.b-footer
		text-align: center
		&__copyright
			font-size: 13px

	.b-socials
		&__item
			&::before
				font-size: 22px
			&+&
				margin-left: 15px

	.b-menu
		&__inner
			flex-direction: column
		&__right,
		&__left
			width: 100%
			flex: 1 1 auto
		&__close
			top: 25px
			right: 15px
		&__link
			font-size: 24px
		&__copyright
			font-size: 13px
		&__circle
			&--2
				right: -170px

	.b-portfolioSingle
		max-width: 600px
		margin: 0 auto
		display: block
		&__img,
		&__info
			display: block
		&__img
			width: 100%
			height: auto
			padding-bottom: 100%
		&__info
			padding: 15px
			text-align: center
		&__description
			margin: 15px 0


@media only screen and (max-width : 480px)
	.b-portfolio
		&__list
			margin: 0
		&__item
			flex: 0 1 100%
			height: 250px
			margin: 15px 0

@media only screen and (max-height: 900px)
	.b-slider
		max-width: 400px
	.b-about
		&__subtitle
			display: none
		&__text
			display: none

