@font-face {
  font-family: "DINPro-CondensedMedium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/DINPro-CondensedMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/DINPro-CondensedMedium.woff") format("woff"), url("../fonts/DINPro-CondensedMedium.ttf") format("truetype");
}
